body{
    background: #FFFFFF;
    max-width: 100vw;
    max-height: 100vh;
}

.wallet-button{

    width: 15em;
    height: 3em;
    color: #FAF9F9;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 36em;
    background: #EAB643;
    border-radius: 2em;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    margin-top:3rem;
}

.wallet-button:hover {
    background-color: #dbaf48;
}

.text-content{
  /* BetterFund Crowdfunding */

float: left;
margin-top: 20em;
margin-left: 10em;

font-family: 'Poppins', sans-serif;

}

.image-section{
  float: left; 
  margin-top:3em;
  margin-right: 1em;
  margin-bottom: 2em;
  width: 1.5em;
  height: 1em;
  
  

}



.sub-content{

    font-weight: 500;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.75);
}

.material-symbols-outlined {
    font-size: 2em !important;
}

@media only screen and (max-width: 7em) {
    .login-container {
      display: flex;
      flex-direction: column-reverse;
      

    }

    .image-section img{
        width: 20px;
       
    }

    .image-section {
        float: none; 
        margin-top: 1em;
        margin-right: 1em;
        margin-bottom: 0em;
        margin-left: auto;
        width: 30%;
    }

    .text-content{
        /* BetterFund Crowdfunding */
      
      float: none;
      margin-top: -167em;
      margin-left: 0em;
      margin-bottom: auto;
      margin-right: auto;
      width: 50%;
      
      }

      .sub-content {
        font-weight: 500;
        font-size: 2em;
        color: rgba(0, 0, 0, 0.75);
        display: inline;
    }
  }

  @media only screen and (max-width: 5em) {
    .login-container {
      display: flex;
      flex-direction: column-reverse;
      

    }

    .image-section img{
        width: 20px;
       
    }

    .image-section {
        float: none; 
        margin-top: 1em;
        margin-right: auto;
        margin-bottom: 0em;
        margin-left: auto;
        width: 30%;
    }

    .text-content{
        /* BetterFund Crowdfunding */
      
      float: none;
      margin-top: -167em;
      margin-left: auto;
      margin-bottom: auto;
      margin-right: auto;
      width: 50%;
      
      }

    .sub-content {
        font-weight: 500;
        font-size: 1em;
        color: rgba(0, 0, 0, 0.75);
        display: inline;
        text-align: justify;
    }

    .wallet-button {
        height: 7em;
        width: 2em;
    }

    .crowdfunding-heading{
    
        font-weight: 600;
        font-size: 3em;
    }
  }